:root {
    --color-fondo: #EFFFFD;
    --color-uno: #B8FFF9;
    --color-dos: #85F4FF;
    --color-tres: #42C2FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hubballi', cursive;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-fondo);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

.secondary-button, .primary-button {
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    font-size: 1.4rem;
    background-color: var(--color-uno);
}

.input-list {
    text-align: center;
}

button a {
    text-decoration: none;
    color: initial;
}

button a:hover {
    text-decoration: underline;
}


footer {
    margin-top: 50px;
    padding: 50px 20px 0px 20px;
}

footer p{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-tres);
}

@media (min-width: 900px) {
    main {
        width: 900px;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Estilos de las instrucciones */
.instrucciones {
    font-size: 3.5rem;
}

.main-comojugar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}


.main-comojugar a {
    font-size: 1.6rem;
    text-decoration: none;
    color: initial;
}

.main-comojugar a:hover {
    text-decoration: underline;
}

.main-comojugar h3 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.explicacion, .main-instrucciones {
    font-size: 1.8rem;
    margin-bottom: 40px;
}

/* Estilos de la pestaña de juego */

.graph-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.nodo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: var(--color-uno);
    border: 1px solid var(--color-dos);
}

.nodo-a {
    left: 70px;
    top: 20px;
}

.nodo-b {
    left: 140px;
    top: 150px;
}

.nodo-c {
    left: 300px;
    top: 130px;
}

.nodo-d {
    left: 300px;
    top: 250px;
}

.nodo-e {
    left: 160px;
    top: 290px;
}

.nodo-f {
    left: 450px;
    top: 200px;
}

.arista {
    height: 5px;
    width: 120px;
    position: absolute;
    background-color: var(--color-tres);
}

.arista-1 {
    top: 100px;
    left: 70px;
    transform: rotate(60deg);
}

.arista-2 {
    top: 170px;
    left: 190px;
    transform: rotate(-10deg);
}

.arista-3 {
    top: 300px;
    left: 200px;
    transform: rotate(-20deg);
}

.arista-4 {
    top: 250px;
    left: 120px;
    transform: rotate(80deg);
}

.arista-5 {
    top: 230px;
    left: 270px;
    transform: rotate(100deg);
}

.arista-6 {
    top: 250px;
    left: 350px;
    transform: rotate(-20deg);
}

.arista-7 {
    top: 190px;
    left: 350px;
    transform: rotate(30deg);
}